/* GENERAL */
* {
  box-sizing: border-box;
}

body{
  font-family: 'Open Sans', 'Arial', sans-serif;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.5px;
  line-height: 150%;
  background-color: #fff;
  color: #444;
  padding: 0;
  margin: 0;
}
*:focus{
  outline: 2px dotted #DE2E54;
  outline-offset: 2px;
}

.container {
  width: 100%;
  max-width: 1140px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

.main-button {
  font-family: 'Open Sans Condensed', sans-serif ,'Arial';
  font-weight: 700;
  font-size: 15px;
  line-height: 22.5px;
  letter-spacing: 2px;
  background-color: #DE2E54;
  color: #fff;
  width: 189px;
  height: 47px;
  border-style: none;
  border: 2px solid  #DE2E54;;
  border-radius: 8px;
}
.main-button:hover {
  background-color: #fff;
  color: #DE2E54;
}
.main-button.main-button:active{
  background-color: #DE2E54;
  color: #fff;
  opacity: 0.6;
}
.main-button-solid:active{
  background-color: rgba(222,46,84,0.6);
  opacity: 1;
}

.main-button-solid:hover {
  color:#fff;
  border-color: transparent;
  background-color: rgba(222,46,84,0.8);
}


/* HEADER */
header{
  background-color: #fff;
  color: #000;
}
.site-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 24px;
  padding-bottom: 24px;
}

.site-header-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  color: #222;
  font-size: 24px;
  font-weight: 600;
  margin-left: 16px;
}
.site-header-link:hover {
  color: #de2E54
}
.site-header-link:active{
  opacity: 0.6;
}

.header-img {
  margin-right: 16px;
  border-radius: 50%;
}

.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-bar-lists {
  display: flex;
  justify-content: space-between;
  list-style: none;
}
.nav-bar-lists li:first-child {
  margin: 0;
  padding: 0;
  padding-top: 38px;
  padding-right: 32px;
  padding-bottom: 38px;
}
.nav-bar-lists li {
  margin: 0;
  padding: 0;
  padding-top: 38px;
  padding-right: 32px;
  padding-bottom: 38px;
}
.nav-bar-lists li:last-child {
  margin: 0;
  padding: 0;
  padding-top: 38px;
  padding-right: 0px;
  padding-bottom: 38px;
}


.nav-list {
  margin: 0;
  padding: 0;
  /* font-family: 'Open Sans','Arial',serif; */
  text-transform: uppercase;
  text-decoration: none;
  color:#000;
  list-style: none;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 2px;
}
.nav-list:hover {
  color: #DE2E54;
}
.nav-list:active{
  opacity: 0.6;
}

.main-button-1 {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans Condensed', sans-serif ,'Arial';
  font-weight: 700;
  font-size: 15px;
  line-height: 22.5px;
  letter-spacing: 2px;
  background-color: #DE2E54;
  color: #fff;
  width: 189px;
  height: 47px;
  margin-left: 114px;
  border-style: none;
  border: 2px solid transparent;
  border-radius: 8px;
}
.main-button-1:hover {
  border-color: #DE2E54;
  background-color: #fff;
  color: #DE2E54;
}
.main-button-1:active {
  background-color: #DE2E54;
  color: #fff;
  opacity: 0.6;
}
.main-button-cta {
  margin: 0;
  padding: 0;
}


/* HERO */
.hero {
background-color:rgba(14, 180, 193, 1);
color: #fff;
}
.hero-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hero-heading {
  margin-top: 0;
  font-family: "Open Sans" , "Arial" , sans serif;
  font-size: 36px;
  line-height: 120%;
  margin-bottom: 16px;
}

.hero-content {
  width: 440px;
  margin-bottom: 36px;
  margin-top: 0;
}

.hero-img{
  padding: 0;
  margin: 0;
  padding-top: 29px;
  width: 423;
  height: 504;
}


/* Services */
.index-services {
  padding-top: 120px;
  padding-bottom: 120px;
}
.service-heading {
  margin-top: 0;
  text-align: center;
  font-family: "Open Sans", "Arial" , serif;
  font-style: 36px;
  line-height: 120%;
  color: #000;
  margin-bottom: 56px;
}
.service-section {
  width: 864px;
  padding: 0;
  margin: 0;
  margin-right: auto;
  margin-left: auto;
}
.service-section:not(last-child) {
  margin-bottom: 80px;
}
.service-section img {
  margin-right: 64px;
  object-fit: cover;
}
.service-text {
  width: 600px;
}
.subheading {
  margin-top: 0;
  margin-bottom: 24px;
}
.service-list {
  margin-bottom: 60px;
}

.section-hijoma {
  display: flex;
  align-items: center;
}

.section-terapiya {
  display: flex;
  align-items: center;
}

.section-zuluk {
  display: flex;
  align-items: center;
}

.section-tabiiy {
  display: flex;
  align-items: center;
}
.services-button {
  margin-top: 0;
  text-align: center;
}


/* CTA */
.cta {
  background-color:rgba(14, 180, 193, 1);
  color: #fff;
}
/* .h2-heading {
  margin-left: auto;
  margin-right: auto;
} */
.cta-heading {
  margin: 0;
  padding: 0;
  padding-top: 64px;
  padding-bottom: 52px;
}

.cta-link a {
  color: #fff;
  text-decoration: none;
  font-weight: 700;
  font-size: 15px;
  line-height: 120%;
  letter-spacing: 2px;
  text-transform: uppercase;
  box-sizing: content-box;
  border-style: solid;
  border-radius: 10px;
  padding: 12px 24px;
  margin-right: 88px;

}
.cta-link a:last-child {
  margin-right: 0;
}
.cta-a {
  /* margin-left: auto;
  margin-right: auto; */
}

/* FOOTER */
footer {
  background: #222222;
  color: #fff;
}
.site-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer-nav-bar-list {
  display: flex;
  align-items: center;
  text-decoration: none;
  list-style: none;
  text-transform: uppercase;
}
.footer-nav-list {
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 2px;
  text-decoration: none;
  color: #fff;
}
.footer-nav-bar-list li{
  margin: 0;
  padding: 0;
  padding-top: 38px;
  padding-right: 32px;
  padding-bottom: 38px;
}
.footer-nav-bar-list li:first-child{
  margin: 0;
  padding: 0;
  padding-top: 38px;
  padding-right: 32px;
  padding-bottom: 38px;
  padding-left: 418px;
}
.footer-nav-bar-list li:last-child{
  margin: 0;
  padding: 0;
  padding-top: 38px;
  padding-right: 0;
  padding-bottom: 38px;
}
.site-footer-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer-img {
  border-radius: 50%;
  margin-right: 16px;
}
.site-footer-link {
  padding-top: 24px;
  padding-bottom: 24px;
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  font-size: 24px;
}
.site-footer-link:active {
  color: #fff;
}
.footer-nav-list:active {
  color: #fff;
}